<!---Book a Reservation Page for Watermelon App.--->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <title>Watermelon Tastings</title>
  </head>
  <body>
    <h1>Melon Reservation Scheduler</h1>
    <div class="reservations">
        <form action="/search" method="POST">
            <h3>Add a 2022 Calendar Here</h3>
            Enter Date Here:<input type="text" placeholder="(01/12/2020)" name="date">
            <div id="calendar"></div>
            <select name="start-time">
                <option value="N/A" disabled selected hidden>Start Time</option>
                <option value="time">7:00AM</option>
                <option value="time">7:30AM</option>
                <option value="time">8:00AM</option>
                <option value="time">8:30AM</option>
                <option value="time">9:00AM</option>
                <option value="time">9:30AM</option>
            </select>
            <select name="end-time">
              <option value="N/A" disabled selected hidden>End Time</option>
              <option value="time">7:30AM</option>
              <option value="time">8:00AM</option>
              <option value="time">8:30AM</option>
              <option value="time">9:00AM</option>
              <option value="time">9:30AM</option>
              <option value="time">10:00AM</option>
            </select>
            <p>
                <button id="search">Search</button>
            </p>
        </form>
    </div>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </body>
</html>