<!---My Reservations for Watermelon App.--->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watermelon Tastings</title>
  </head>
  <body>
    <form action="/res">
        <h1>My Watermelon Tasting Reservations</h1>
        <div class="my_reservations">
            {% for reservation in reservations %}
                <h3>{{ reservation.name }}</h3>
                <h4>{{ reservation.date }} at {{reservation.time }}</h4>
            {% endfor %}
        </div>
        <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </form>
  </body>
</html>